In [1]:
import pandas as pd

In [2]:
import plotly.express as px

In [3]:
dataPath = ".././00_Data/00_Datasets/"

In [4]:
fileName1 = "blood_glucose_tracker.csv"

In [5]:
fileName2 = "meal_tracker.csv"

In [6]:
glucoseTracker_df = pd.read_csv(
    dataPath + fileName1,
)

glucoseTracker_df

           Date   Time            Marker  Glucose (mmol/L)
0    2024-07-04  17:00         No Marker               8.8
1    2024-07-04  22:09         No Marker              10.0
2    2024-07-05   8:00  Before Breakfast               7.1
3    2024-07-05   9:53   After Breakfast              13.8
4    2024-07-05  12:08         No Marker               9.2
..          ...    ...               ...               ...
341  2024-08-28  13:02      Before Lunch               5.1
342  2024-08-28  15:17       After Lunch               5.4
343  2024-08-28  18:00         No Marker               4.9
344  2024-08-28  18:50     Before Supper               5.1
345  2024-08-28  21:24      After Supper               8.3

[346 rows x 4 columns]

In [7]:
mealTracker_df = pd.read_csv(
    dataPath + fileName2,
)

mealTracker_df

,Date,Time,Meal Type,Description
0,2024-07-05,8:00,Breakfast,"Greek Yogurt, Cherries, Sourdough Toast"
1,2024-07-05,14:00,Lunch,"Arugula Salad w/Tomatoes, cucumbers, and radis..."
2,2024-07-05,17:00,Snack,Handful of Cherries
3,2024-07-05,21:30,Supper,"Chicken thighs, peas, carrots and brown rice"
4,2024-07-06,8:45,Breakfast,Greek Yogurt + Strawberries
...,...,...,...,...
127,2024-08-27,10:00,Breakfast,Pumpernickel toast with an egg
128,2024-08-27,19:30,Supper,Salmon fillet with wheat berry salad w/ peas +...
129,2024-08-28,09:15,Breakfast,Peanut butter and jam on pumpernickel toast
130,2024-08-28,13:15,Lunch,1/2 Tuna sandwich on pumpernickel bread
131,2024-08-28,19:00,Supper,"Roast beef, with carrots and potatoes w jasmin..."

In [8]:
glucoseTracker_df['Marker'].unique().tolist()

['No Marker',
 'Before Breakfast',
 'After Breakfast',
 'Before Lunch',
 'After Lunch',
 'Before Supper',
 'After Supper',
 'Before Snack',
 'After Snack']

In [9]:
mealTracker_df['Meal Type'].unique().tolist()

['Breakfast', 'Lunch', 'Snack', 'Supper']

In [10]:
mapValues = {
    'Breakfast' : 'After Breakfast',
    'Lunch' : 'After Lunch',
    'Snack' : 'After Snack',
    'Supper' : 'After Supper'
}

In [11]:
mealTracker_df['Marker'] = mealTracker_df['Meal Type'].map(mapValues)

mealTracker_df

,Date,Time,Meal Type,Description,Marker
0,2024-07-05,8:00,Breakfast,"Greek Yogurt, Cherries, Sourdough Toast",After Breakfast
1,2024-07-05,14:00,Lunch,"Arugula Salad w/Tomatoes, cucumbers, and radis...",After Lunch
2,2024-07-05,17:00,Snack,Handful of Cherries,After Snack
3,2024-07-05,21:30,Supper,"Chicken thighs, peas, carrots and brown rice",After Supper
4,2024-07-06,8:45,Breakfast,Greek Yogurt + Strawberries,After Breakfast
...,...,...,...,...,...
127,2024-08-27,10:00,Breakfast,Pumpernickel toast with an egg,After Breakfast
128,2024-08-27,19:30,Supper,Salmon fillet with wheat berry salad w/ peas +...,After Supper
129,2024-08-28,09:15,Breakfast,Peanut butter and jam on pumpernickel toast,After Breakfast
130,2024-08-28,13:15,Lunch,1/2 Tuna sandwich on pumpernickel bread,After Lunch
131,2024-08-28,19:00,Supper,"Roast beef, with carrots and potatoes w jasmin...",After Supper

In [12]:
combined_df = pd.merge(
    glucoseTracker_df,
    mealTracker_df,
    how = 'left',
    on = ['Date', 'Marker'],
    suffixes = ('Test', 'Meal'),
)

combined_df

,Date,TimeTest,Marker,Glucose (mmol/L),TimeMeal,Meal Type,Description
0,2024-07-04,17:00,No Marker,8.8,NaN,NaN,NaN
1,2024-07-04,22:09,No Marker,10.0,NaN,NaN,NaN
2,2024-07-05,8:00,Before Breakfast,7.1,NaN,NaN,NaN
3,2024-07-05,9:53,After Breakfast,13.8,8:00,Breakfast,"Greek Yogurt, Cherries, Sourdough Toast"
4,2024-07-05,12:08,No Marker,9.2,NaN,NaN,NaN
...,...,...,...,...,...,...,...
341,2024-08-28,13:02,Before Lunch,5.1,NaN,NaN,NaN
342,2024-08-28,15:17,After Lunch,5.4,13:15,Lunch,1/2 Tuna sandwich on pumpernickel bread
343,2024-08-28,18:00,No Marker,4.9,NaN,NaN,NaN
344,2024-08-28,18:50,Before Supper,5.1,NaN,NaN,NaN
345,2024-08-28,21:24,After Supper,8.3,19:00,Supper,"Roast beef, with carrots and potatoes w jasmin..."

Insulin resistance and poor metabolic health is the primary driver of heart disease[^1].

[^1]: This is a footnote